@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff2")
      format("woff2"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff")
      format("woff"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.ttf")
      format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

// @font-face {
//   font-family: "ClashDisplay-Extralight";
//   src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Extralight.woff2")
//       format("woff2"),
//     url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Extralight.woff")
//       format("woff"),
//     url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Extralight.ttf")
//       format("truetype");
//   font-weight: 200;
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: "ClashDisplay-Light";
//   src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Light.woff2")
//       format("woff2"),
//     url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Light.woff")
//       format("woff"),
//     url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Light.ttf")
//       format("truetype");
//   font-weight: 300;
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: "ClashDisplay-Regular";
//   src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Regular.woff2")
//       format("woff2"),
//     url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Regular.woff")
//       format("woff"),
//     url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Regular.ttf")
//       format("truetype");
//   font-weight: 400;
//   font-display: swap;
//   font-style: normal;
// }

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2")
      format("woff2"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.woff")
      format("woff"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff2")
      format("woff2"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff")
      format("woff"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.ttf")
      format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2")
      format("woff2"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff")
      format("woff"),
    url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

$green: #62825d;

//------------------------------------------------------------------------------------------------------------

body {
  background-color: black;
  z-index: 0;
}

* {
  font-family: "ClashDisplay-Variable", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  color: white;
}

.name {
  font-family: "ClashDisplay-Medium", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  font-size: 20px;
}

//------------------------------------------------------------------------------------------------------------

.container {
  margin: 2%;
  &__header {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__intro {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    h1 {
      font-family: "ClashDisplay-Medium", "Gill Sans", "Gill Sans MT", Calibri,
        "Trebuchet MS", sans-serif;
      font-size: 35px;
      margin: 0;
    }
    .legend {
      font-family: "ClashDisplay-Medium", "Gill Sans", "Gill Sans MT", Calibri,
        "Trebuchet MS", sans-serif;
      font-size: 25px;
    }
  }
  h2 {
    font-family: "ClashDisplay-Semibold", "Gill Sans", "Gill Sans MT", Calibri,
      "Trebuchet MS", sans-serif;
    font-size: 35px;
    margin: 0;
  }
  &__project {
    display: flex;
    align-items: center;
    justify-content: center;

    
  }
  footer{
    margin-top: 100px;
  }
  &__social{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    font-size: 25px;

    i{
      padding: 10px;
      
      &:hover {
        // text-shadow: 2px 2px 15px 1px #8b8b8b;
        // text-shadow: 2px 2px 3px  #558ABB;
        font-size: 30px;
      }
    }
    .github{
      &:hover{
        text-shadow: 2px 2px 3px  #5855bb;
      }
    }
    .linkedin{
      &:hover{
        text-shadow: 2px 2px 3px  #0e76a8;
      }
    }
    .mail{
      &:hover{
        text-shadow: 2px 2px 3px $green;
      }
    }
    .phone{
      &:hover{
        text-shadow: 2px 2px 3px #3FC72F;
      }
    }
  }
  &__about{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    margin-bottom: 15%;
    aside{
      margin: auto;
      width: 60%;
      margin-top: 50px;
      text-align: center;
    }
  }
  &__contact{
    margin-top: 10%;
    &-description{
      margin: auto;
      margin-top: 10%;
      p{
        text-align: center;
      }
    }
  }
  &__form{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 90%;


    &-input{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 16px;
      font-weight: 500;;
      input{
        border-radius: 15px;
        border: none;
        color: black;
        padding: 8px;
        font-size: 16px;
        font-weight: 500;;
      }
      textarea{
        border-radius: 15px;
        border: none;
        color: black;
        padding: 8px;
        height: 50px;
        font-size: 16px;
        font-weight: 500;;
      }
     
    }
    button{
      width: 50%;
      margin: auto;
      margin-top: 20px;
      height: 35px;
      border-radius: 15px;
      border: none;
      background: none;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background: black;
        box-shadow: 2px 2px 15px 1px #8b8b8b;
      }
    }
    strong{
      color: $green;
      font-weight: 500;
    }
  }
}
@media only screen and (min-width: 600px){
  .container__form{
    width: 60%;
  }
}


.button-menu {
  position: fixed;
  right: 0;
  margin-right: 2%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__burger {
    background-color: white;
    height: 2px;
    width: 30px;
    margin: 5px;
  }
}
//------------------------------------------------------------------------------------------------------------

// White delimitation line
.line {
  width: 95%;
  height: 2px;
  background: white;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .line {
    width: 55%;
    height: 2px;
    background: white;
    margin: auto;
  }
}
//------------------------------------------------------------------------------------------------------------

// arrow-down image
.box-arrow {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 30px;
  margin-left: 50%;
}
.arrow-down {
  width: auto;
  height: 50px;
}
//------------------------------------------------------------------------------------------------------------

.button-cross-up {
  transform: translate(-0%, -50%) rotate(-45deg);
  rotate: -45deg;
  margin: 0;
}
.button-cross-down {
  transform: translate(-0%, -100%) rotate(45deg);
  margin: 0;
}

//------------------------------------------------------------------------------------------------------------

.component {
  &__project {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    &-aside {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      height: 250px;
      width: 80%;
      text-align: center;
      flex-direction: column;
      display: flex;
      align-items: center;

      strong {
        font-weight: 500;
      }
      strong:first-of-type {
        color: $green;
      }

      .button-link {
        width: 75%;
        height: 45px;
        margin-bottom: 2%;
        text-align: center;
        border: 1px solid #5b454570;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 15px -2px #8b8b8b;

        button {
          background: none;
          border: none;
        }
        h3 {
          color: white;
          font-weight: 500;
        }
        a {
          text-decoration: none;
        }
        &:hover {
          background: black;
          box-shadow: 2px 2px 15px 1px #8b8b8b;
        }
        &:active {
          box-shadow: 2px 2px 15px -2px $green;
          border: $green;
        }
      }
      @media only screen and (min-width: 600px) {
        .box-img {
          width: 90%;
          height: auto;
        }
        .button-link {
          width: 35%;
        }
      }
    }
  }
}
.box-img {
  margin: auto;
  width: 100%;
  height: auto;
  // object-fit: contain;
  &__img1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .box-img {
    width: 90%;
    height: auto;
  }
}
.box-profil{
  margin: auto;
  width: 55%;
  height: auto;;
  margin-top: 10%;

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: grayscale(100);
  }
}
@media only screen and (min-width: 600px){
  .box-profil{
    width: 25%;
    height: auto;
  }
}



.hidden {
  display: none;
}

html {
  cursor: url("/images/icons/pngwing.png"), default;
}

.icon-carousel {
  width: 30%;
  font-size: 30px;
  // text-align: center;
  .fas {
    color: #bfbdbd33;
    opacity: 0.6;
    text-shadow: 0px 0px 10px #ffe5e5;
    &:hover {
      color: #d1ceced4;
      opacity: 0.8;
      text-shadow: 0px 0px 10px #ffe5e5;
      font-size: 35px;
    }
  }
  &:first-of-type {
    text-align: right;
  }
  &:last-of-type {
    text-align: left;
  }
}

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */

#nav-icon3 {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-right: 2%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: white;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 20px;
  width: 0%;
}

#nav-icon3.open span:nth-child(2) {
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  transform: rotate(-45deg);
}


nav{
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  padding-top: 40%;

  
  .line{
    height: 2px;
    background-color: white;
    margin: 0;
    margin-bottom: 10%;

  }

  a{
    text-decoration: none;
    &:hover{
      text-shadow: 1px 1px 2px black;
      color: black;
    }
  }
  h2{
    &:hover{
      text-shadow: 0px 0px 1px white;
      color: black;
    }
  }

}
@media only screen and (min-width: 600px){
  nav{
    padding-top: 0;
    align-items: center;
    justify-content: center;
  }
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}