@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Medium";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Semibold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "ClashDisplay-Bold";
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: black;
  z-index: 0;
}

* {
  font-family: "ClashDisplay-Variable", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

.name {
  font-family: "ClashDisplay-Medium", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

.container {
  margin: 2%;
}

.container__header {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__intro {
  margin-top: 100px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__intro h1 {
  font-family: "ClashDisplay-Medium", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  margin: 0;
}

.container__intro .legend {
  font-family: "ClashDisplay-Medium", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

.container h2 {
  font-family: "ClashDisplay-Semibold", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 35px;
  margin: 0;
}

.container__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container footer {
  margin-top: 100px;
}

.container__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 60%;
  margin: auto;
  font-size: 25px;
}

.container__social i {
  padding: 10px;
}

.container__social i:hover {
  font-size: 30px;
}

.container__social .github:hover {
  text-shadow: 2px 2px 3px  #5855bb;
}

.container__social .linkedin:hover {
  text-shadow: 2px 2px 3px  #0e76a8;
}

.container__social .mail:hover {
  text-shadow: 2px 2px 3px #62825d;
}

.container__social .phone:hover {
  text-shadow: 2px 2px 3px #3FC72F;
}

.container__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15%;
}

.container__about aside {
  margin: auto;
  width: 60%;
  margin-top: 50px;
  text-align: center;
}

.container__contact {
  margin-top: 15%;
}

.container__contact-description {
  margin: auto;
  margin-top: 20%;
}

.container__contact-description p {
  text-align: center;
}

.container__form {
  margin: auto;
  margin-bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: 90%;
}

.container__form .text {
  padding: 4%;
  border: solid 1px white;
  -webkit-box-shadow: 4px 4px  white;
          box-shadow: 4px 4px  white;
  margin-bottom: 20px;
}

.container__form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.container__form-input input {
  border-radius: 15px;
  border: none;
  color: black;
  padding: 8px;
  font-size: 16px;
  font-weight: 500;
  background: #ebebeb;
  -webkit-box-shadow: inset 7px 7px 14px #949494, inset -7px -7px 14px #ffffff;
          box-shadow: inset 7px 7px 14px #949494, inset -7px -7px 14px #ffffff;
}

.container__form-input textarea {
  border-radius: 15px;
  border: none;
  color: black;
  padding: 8px;
  height: 80px;
  font-size: 16px;
  font-weight: 500;
  background: #ebebeb;
  -webkit-box-shadow: inset 7px 7px 14px #949494, inset -7px -7px 14px #ffffff;
          box-shadow: inset 7px 7px 14px #949494, inset -7px -7px 14px #ffffff;
}

.container__form button {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  height: 35px;
  border-radius: 15px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.container__form button:hover {
  background: black;
  -webkit-box-shadow: 2px 2px 15px 1px #8b8b8b;
          box-shadow: 2px 2px 15px 1px #8b8b8b;
}

.container__form strong {
  color: #62825d;
  font-weight: 500;
}

@media only screen and (min-width: 600px) {
  .container__form {
    width: 60%;
  }
}

.button-menu {
  position: fixed;
  right: 0;
  margin-right: 2%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.button-menu__burger {
  background-color: white;
  height: 2px;
  width: 30px;
  margin: 5px;
}

.line {
  width: 95%;
  height: 2px;
  background: white;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .line {
    width: 55%;
    height: 2px;
    background: white;
    margin: auto;
  }
}

.box-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 30px;
  margin-left: 50%;
}

.arrow-down {
  width: auto;
  height: 50px;
}

.button-cross-up {
  -webkit-transform: translate(0%, -50%) rotate(-45deg);
          transform: translate(0%, -50%) rotate(-45deg);
  rotate: -45deg;
  margin: 0;
}

.button-cross-down {
  -webkit-transform: translate(0%, -100%) rotate(45deg);
          transform: translate(0%, -100%) rotate(45deg);
  margin: 0;
}

.component__project {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component__project-aside {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 250px;
  width: 100%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component__project-aside strong {
  font-weight: 500;
}

.component__project-aside strong:first-of-type {
  color: #62825d;
}

.component__project-aside p {
  margin-top: 10px;
  padding: 4%;
  border: solid 1px white;
  -webkit-box-shadow: 4px 4px  white;
          box-shadow: 4px 4px  white;
}

.component__project-aside .button-link {
  width: 75%;
  height: 45px;
  margin-bottom: 5%;
  text-align: center;
  border: solid 1px white;
  -webkit-box-shadow: -7px 7px white;
          box-shadow: -7px 7px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component__project-aside .button-link button {
  background: none;
  border: none;
}

.component__project-aside .button-link h3 {
  color: white;
  font-weight: 500;
}

.component__project-aside .button-link a {
  text-decoration: none;
}

.component__project-aside .button-link:hover {
  -webkit-animation: website-btn 0.26s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: website-btn 0.26s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@-webkit-keyframes website-btn {
  0% {
    -webkit-box-shadow: -7px 7px white;
            box-shadow: -7px 7px white;
  }
  100% {
    -webkit-box-shadow: -2px 2px white;
            box-shadow: -2px 2px white;
  }
}

@keyframes website-btn {
  0% {
    -webkit-box-shadow: -7px 7px white;
            box-shadow: -7px 7px white;
  }
  100% {
    -webkit-box-shadow: -2px 2px white;
            box-shadow: -2px 2px white;
  }
}

.component__project-aside .button-link:hover + div > p {
  -webkit-animation: legend 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
          animation: legend 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
}

@-webkit-keyframes legend {
  0% {
    -webkit-box-shadow: 4px 4px  white;
            box-shadow: 4px 4px  white;
  }
  100% {
    -webkit-box-shadow: 4px -4px white;
            box-shadow: 4px -4px white;
  }
}

@keyframes legend {
  0% {
    -webkit-box-shadow: 4px 4px  white;
            box-shadow: 4px 4px  white;
  }
  100% {
    -webkit-box-shadow: 4px -4px white;
            box-shadow: 4px -4px white;
  }
}

.component__project-aside .button-link:active {
  background-color: white;
  border: solid 1px black;
}

.component__project-aside .button-link:active h3 {
  color: black;
}

@media only screen and (min-width: 600px) {
  .component__project-aside .box-img {
    width: 90%;
    height: auto;
  }
  .component__project-aside .button-link {
    width: 35%;
  }
}

.box-img {
  margin: auto;
  width: 100%;
  height: auto;
}

.box-img__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .box-img {
    width: 90%;
    height: auto;
  }
}

.box-profil {
  margin: auto;
  width: 55%;
  height: auto;
  margin-top: 10%;
}

.box-profil img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

@media only screen and (min-width: 600px) {
  .box-profil {
    width: 25%;
    height: auto;
  }
}

.hidden {
  display: none;
}

html {
  cursor: url("/images/icons/pngwing.png"), default;
}

.icon-carousel {
  width: 30%;
  font-size: 30px;
  padding-bottom: 200px;
}

.icon-carousel .fas {
  color: #bfbdbd33;
  opacity: 0.6;
  text-shadow: 0px 0px 10px #ffe5e5;
}

.icon-carousel .fas:hover {
  color: #d1ceced4;
  opacity: 0.8;
  text-shadow: 0px 0px 10px #ffe5e5;
  font-size: 35px;
}

.icon-carousel:first-of-type {
  text-align: right;
}

.icon-carousel:last-of-type {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
#nav-icon3 {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-right: 2%;
  z-index: 2;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 20px;
  width: 0%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  padding-top: 40%;
}

nav .line {
  height: 2px;
  background-color: white;
  margin: 0;
  margin-bottom: 10%;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-shadow: 1px 1px 2px black;
  color: black;
}

nav h2:hover {
  text-shadow: 0px 0px 1px white;
  color: black;
}

@media only screen and (min-width: 600px) {
  nav {
    padding-top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
/*# sourceMappingURL=style.css.map */