@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Extralight';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Extralight.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Extralight.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Light';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Light.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Light.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Regular';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Regular.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Regular.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Medium';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Semibold';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'ClashDisplay-Bold';
  src: url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff2") format("woff2"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.woff") format("woff"), url("../fonts/ClashDisplay_Complete/WEB/fonts/ClashDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  background-color: black;
  z-index: 0;
}

* {
  font-family: 'ClashDisplay-Variable','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.name {
  font-family: 'ClashDisplay-Medium','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.container {
  margin: 2%;
}

.container__header {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__intro {
  margin-top: 100px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__intro h1 {
  font-family: 'ClashDisplay-Medium','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  margin: 0;
}

.container__intro .legend {
  font-family: 'ClashDisplay-Medium','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.container h2 {
  font-family: 'ClashDisplay-Semibold','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 35px;
  margin: 0;
}

.container__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-menu {
  position: fixed;
  right: 0;
  margin-right: 2%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.button-menu__burger {
  background-color: white;
  height: 2px;
  width: 30px;
  margin: 5px;
}

.line {
  width: 95%;
  height: 2px;
  background: white;
  margin: auto;
}

@media only screen and (min-width: 600px) {
  .line {
    width: 55%;
    height: 2px;
    background: white;
    margin: auto;
  }
}

.box-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: 30px;
  margin-left: 50%;
}

.arrow-down {
  width: auto;
  height: 50px;
}

.button-cross-up {
  -webkit-transform: translate(0%, -50%) rotate(-45deg);
          transform: translate(0%, -50%) rotate(-45deg);
  rotate: -45deg;
  margin: 0;
}

.button-cross-down {
  -webkit-transform: translate(0%, -100%) rotate(45deg);
          transform: translate(0%, -100%) rotate(45deg);
  margin: 0;
}

.component__project {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.component__project-aside {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 250px;
  width: 80%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.component__project-aside strong {
  font-weight: 500;
}

.component__project-aside strong:first-of-type {
  color: #62825D;
}

.component__project-aside .button-link {
  margin: auto;
  margin-bottom: 2%;
  padding: 2px 20px;
  min-width: 18%;
  text-align: center;
  border: 1px solid #5b454570;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 15px -2px #8B8B8B;
          box-shadow: 2px 2px 15px -2px #8B8B8B;
}

.component__project-aside .button-link h3 {
  color: white;
  font-weight: 500;
}

.component__project-aside .button-link a {
  text-decoration: none;
}

.component__project-aside .button-link:hover {
  background: black;
  -webkit-box-shadow: 2px 2px 15px 1px #8B8B8B;
          box-shadow: 2px 2px 15px 1px #8B8B8B;
}

.component__project-aside .button-link:active {
  -webkit-box-shadow: 2px 2px 15px -2px #62825D;
          box-shadow: 2px 2px 15px -2px #62825D;
  border: #62825D;
}

.box-img {
  margin: auto;
  width: 100%;
  height: auto;
}

.box-img__img1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .box-img {
    width: 90%;
    height: auto;
  }
}

.hidden {
  display: none;
}

html {
  cursor: url("./images/icons/pngwing.png"), default;
}

.icon-carousel {
  width: 30%;
  font-size: 30px;
}

.icon-carousel .fas {
  color: #bfbdbd33;
  opacity: .6;
  text-shadow: 0px 0px 10px #ffe5e5;
}

.icon-carousel .fas:hover {
  color: #d1ceced4;
  opacity: .8;
  text-shadow: 0px 0px 10px #ffe5e5;
  font-size: 35px;
}

.icon-carousel:first-of-type {
  text-align: right;
}

.icon-carousel:last-of-type {
  text-align: left;
}

* {
  margin: 0;
  padding: 0;
}

/* Icon 1 */
#nav-icon3 {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: fixed;
  right: 0;
  margin-right: 2%;
  z-index: 2;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: white;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */
#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 20px;
  width: 0%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slide-left {
  -webkit-animation: slide-left 0.26s ease-in;
          animation: slide-left 0.26s ease-in;
}

.slide-left2 {
  -webkit-animation: slide-left2 0.26s ease-in;
          animation: slide-left2 0.26s ease-in;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  10% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.5;
    width: 45%;
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    width: 10%;
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
  10% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0.5;
    width: 45%;
  }
  100% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
    width: 10%;
  }
}

@-webkit-keyframes slide-left2 {
  0% {
    width: 10%;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0.2;
  }
  10% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
    width: 100%;
  }
}

@keyframes slide-left2 {
  0% {
    width: 10%;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
    opacity: 0.2;
  }
  10% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */